.header {
    height: var(--header-height);
    background-image: linear-gradient(to bottom, #A40000 0%, #CB4811 100%, #754918 100%);
    opacity: 0.95;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 5px 0 0;
}

.header__navbar-item {
    margin: 0 4px;
    position: relative;
    min-height: 20px;
}

.header__navbar-item--separate:hover .header__QR {
    display: block;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: aliceblue;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-link-icon:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-link-icon {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*Header QR code */
.header__QR {
    background: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
}

.header__QR::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -14px;
    left: 0;
}

.QR-img {
    width: 100%;
}

.apps-download {
    display: flex;
    justify-content: space-between;
}

.app-download__link:first-child {
    margin-left: 11px;
}

.app-download__link:last-child {
    margin-right: 11px;
}

.apps-download__img {
    height: 16px;
}

/* Notification */

.header__notification {
    margin-top: 10px;
    position: absolute;
    top: 110%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    animation: headerNotificationGrow ease-in 0.25s;
    transform-origin: calc(100% - 20px) top;
    will-change: transform, opacity;
    display: none;
    z-index: 5;
}

.header__notification::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -30px;
    display: block;
    cursor: default;
}

.header__notification::after {
    content: "";
    position: absolute;
    width: 100px;
    right: 0;
    top: -17px;
    height: 20px;
    display: block;
    cursor: default;
}

@keyframes headerNotificationGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item--show:hover .header__notification{
    display: block;
}

.header__notification-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notification-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: default;
}

.header__notification-list {
    padding-left: 0;

}

.header__notification-item {
    display: flex;
}

.header__notification-item:hover {
    background-color: #f6f4f6;
}

.header__notification-item--viewed {
    background-color: rgba(247, 61, 42, 0.1);
}

.header__notification-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notification-img {
    width: 48px;
    object-fit: contain;
}

.header__notification-info {
    margin-left: 12px;
}

.header__notification-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notification-description {
    margin-top: 6px;
    display: block;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #756F6E;
}

.header__notification-footer {
    display: flex;
}

.header__notification-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 0;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

/* Modal form */

.auth-form {
    width: 500px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__group {
    margin: 8px 0;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color)
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    margin-top: 100px;
}
.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials--icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    color: var(--white-color) !important;
    background-color: #273555;
}

.auth-form__socials--facebook
.auth-form__socials--icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 32px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #898889;
}

.auth-form__help-separate {
    display: block;
    border: 1px solid var(--border-color);
    height: 22px;
    margin: -3px 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Cart */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px; 
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 2px;
    padding: 12px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + -3px);
    right: 12px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 2px 7px 23px 6px rgb(0 0 0 / 22%);
    animation: fadeIn ease-in 0.25s;
    display: none;
    cursor: default;
}


.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-no-cart-img {
    width: 50%;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list-message-no-item {
    display: block;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    font-weight: 500;
}

/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 66px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0px 5px 5px rgb(129, 129, 129);
    display: none;
    overflow: hidden;
    
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.6rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
}

.header__search-history-item:hover {
    background-color: #e6e1df;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
}

/* Input key search */

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
}

.header__search-selection {
    border-left: 1px solid rgb(228, 220, 220);
    padding-left: 16px;
    position: relative;
    line-height: 40px;
    cursor: pointer;
    height: 40px;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: #585353;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 105%;
    list-style: none;
    width: 130px;
    box-shadow: 0px 6px 7px 0px rgba(192,192,192,0.81);
    padding-left: 0;
    display: none;
    margin: 0;
    animation: fadeIn linear 0.2s;
}

.header__search-option::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 10px;
    display: block;
    top: -6px;
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    height: 40px;
    line-height: 30px;
    align-items: center;
    display: flex;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item:hover {
    background-color: #faefef;
    cursor: pointer;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    font-size: 1.6rem;
    color: var(--white-color);
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #f45c4b;
    cursor: pointer;
}






